<div class="nav">
  main
</div>

<ul class="main-menu">
  <% @modes.each do |m| %>
    <li>
    <%= link_to "#{m.titleize} Schedules", "/routes/#{m}" %>
    </li>
  <% end %>
  <!--
  <li>
    <%= link_to "T-Alerts", '/alerts.html' %> 
  </li>
  -->
  <% @twittags.each do |t| %>
    <li>
      <%= link_to "Twitter #{t}", :controller => 'tweets', :search => t  %> 
    </li>
  <% end %>
  <li>
    <%= link_to "About/FAQ", "/about/mobile_version" %> 
  </li>
</ul>




<%= link_to(image_tag(@logo, :width => 150, :border => 0), "/") %>
<div class="note">
  Data provided by <%= @agency_links %>. 
</div>
